<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>重庆市</key>
	<dict>
		<key>重庆市</key>
		<string>@重庆环保</string>
	</dict>
	<key>天津市</key>
	<dict>
		<key>天津市</key>
		<string>@天津环保发布</string>
	</dict>
	<key>上海市</key>
	<dict>
		<key>上海市</key>
		<string>@上海环境</string>
	</dict>
	<key>北京市</key>
	<dict>
		<key>北京市</key>
		<string>@环保北京</string>
	</dict>
	<key>西藏自治区</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>拉萨市</key>
		<string></string>
	</dict>
	<key>新疆维吾尔自治区</key>
	<dict>
		<key>省</key>
		<string>@新疆环境保护厅</string>
		<key>乌鲁木齐市</key>
		<string>@乌鲁木齐市环保局</string>
	</dict>
	<key>青海省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>西宁市</key>
		<string></string>
	</dict>
	<key>宁夏回族自治区</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>银川市</key>
		<string>@银川环保</string>
	</dict>
	<key>甘肃省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>兰州市</key>
		<string></string>
	</dict>
	<key>陕西省</key>
	<dict>
		<key>省</key>
		<string>@陕西环保</string>
		<key>西安市</key>
		<string>@西安环保</string>
	</dict>
	<key>四川省</key>
	<dict>
		<key>省</key>
		<string>@四川环保</string>
		<key>成都市</key>
		<string>@成都环保</string>
	</dict>
	<key>云南省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>昆明市</key>
		<string>@昆明市环保局</string>
	</dict>
	<key>贵州省</key>
	<dict>
		<key>省</key>
		<string>@贵州环保365</string>
		<key>贵阳市</key>
		<string></string>
	</dict>
	<key>海南省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>海口市</key>
		<string>@环保海口</string>
	</dict>
	<key>广西壮族自治区</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>南宁市</key>
		<string></string>
	</dict>
	<key>广东省</key>
	<dict>
		<key>广州市</key>
		<string>@广州环保</string>
	</dict>
	<key>河南省</key>
	<dict>
		<key>省</key>
		<string>@河南省环保厅</string>
		<key>郑州市</key>
		<string>@绿色郑州</string>
	</dict>
	<key>湖北省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>武汉市</key>
		<string>@武汉环保</string>
	</dict>
	<key>湖南省</key>
	<dict>
		<key>省</key>
		<string>@湖南省环境保护厅</string>
		<key>长沙市</key>
		<string></string>
	</dict>
	<key>福建省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>福州市</key>
		<string>@福州环保</string>
	</dict>
	<key>江西省</key>
	<dict>
		<key>省</key>
		<string>@江西环保</string>
		<key>南昌市</key>
		<string>@南昌环境保护局发布</string>
	</dict>
	<key>浙江省</key>
	<dict>
		<key>省</key>
		<string>@浙江环保</string>
		<key>杭州市</key>
		<string>@杭州环保</string>
	</dict>
	<key>山东省</key>
	<dict>
		<key>省</key>
		<string>@山东环境</string>
		<key>济南市</key>
		<string>@济南环保</string>
	</dict>
	<key>安徽省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>合肥市</key>
		<string>@合肥环保</string>
	</dict>
	<key>江苏省</key>
	<dict>
		<key>省</key>
		<string>@江苏环保</string>
		<key>南京市</key>
		<string>@南京环保</string>
	</dict>
	<key>黑龙江省</key>
	<dict>
		<key>省</key>
		<string>@龙江环保</string>
		<key>哈尔滨市</key>
		<string>@哈尔滨环保</string>
	</dict>
	<key>吉林省</key>
	<dict>
		<key>省</key>
		<string>@吉林省环境保护厅</string>
		<key>长春市</key>
		<string>@长春市环境保护局</string>
	</dict>
	<key>辽宁省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>沈阳市</key>
		<string>@沈阳环保</string>
	</dict>
	<key>河北省</key>
	<dict>
		<key>省</key>
		<string>@河北省环保厅</string>
		<key>石家庄市</key>
		<string></string>
	</dict>
	<key>山西省</key>
	<dict>
		<key>省</key>
		<string></string>
		<key>太原市</key>
		<string></string>
	</dict>
	<key>内蒙古自治区</key>
	<dict>
		<key>省</key>
		<string>@内蒙古环境保护厅</string>
		<key>呼和浩特市</key>
		<string>@呼和浩特市环保</string>
	</dict>
</dict>
</plist>
